name: Build and test

on:
  pull_request:
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup node
        uses: actions/setup-node@v6
        with:
          node-version: 22.x
          cache: npm

      - name: Install
        run: npm ci

      - name: Lint validation
        run: npm run lint

      - name: Build
        run: npm run build
      - name: Test & coverage
        run: npm run test:coverage

      # - name: Coveralls
      #   uses: coverallsapp/github-action@v2
      #   with:
      #     github-token: ${{ secrets.GITHUB_TOKEN }}
      #     format: lcov
      #     file: ./coverage/lcov.info
